.Store_header {
  background-color: rgb(233, 238, 243);
  padding: 10px;
  font-size: 2rem;
}
.f_style {
  font-family: cursive;
  font-style: italic;
  font-size: 2.5rem;
  margin: 0px 3px 0px 2px;
  color: chartreuse;
}

.Causal_Products {
  margin-top: 10px;
  border: ridge 2px black;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}
.Product_Card {
  width: 360px;
  height: 380px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 8px;
  outline: rgba(233, 229, 10, 0.527) 0.5px solid;
  box-shadow: grey 0px 0px 2px 3px;
}

.Product_Image {
  width: 360px;
  height: 300px;
}
.Product_Description {
  background-color: chartreuse;
  padding: 5px;
  margin: 0px;
  font-weight: bold;
  font-style: oblique;
}
.AddtoCart {
  background-color: rgba(74, 122, 26, 0.274);
  color: white;
  cursor: pointer;
  padding: 5px;
  margin: 0px;
  font-weight: bold;
  display: inline-flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  border: none;
}
.AddtoCart:hover {
  background-color: rgb(74, 122, 26);
}
.Cart_Item_Amount {
  border: 2px wheat groove;
  padding: 0px 10px 0px 10px;
}
